<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Gamer Center</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <link rel="stylesheet" type="text/css" href="/css/jass.css">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

  <header class="display-flex justify-space-between align-center p-2">

    <h1>

      <a href="/" class="btn" id="homepage">Gamer Center</a>

    </h1>
    <!-- Only display the logout button if the user is logged in -->

    {{#if logged_in}}

    <nav>

       <a href="/categories" class="btn btn-info" role="button">Categories</a>

       <a href="/profile" class="btn btn-info" role="button">Profile</a>

       {{!-- <a href="/js/logout.js" class="btn btn-info" role="button">Logout</a> --}}

      <button class="btn btn-info" id="logout">Logout</button>

    </nav>

    {{else}}

    <nav>
       <a href="/categories" class="btn btn-info" role="button">Categories</a>

       <a href="/profile" class="btn btn-info" role="button">Profile</a>

       <a href="/login" class="btn btn-info" role="button">Login</a>

    </nav>

    {{/if}}

  </header>

  <main class="container container-fluid mt-5 mb-5">

    {{{ body }}}

  </main>

  <footer>
 
     Made by Cody Regis, Edward Arana, Erick Interiano 


    


  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}

  <script src="/js/logout.js"></script>
  
  {{/if}}
  


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
