<h1>Categories</h1>

<a href="/rpg" class="btn btn-info" role="button">RPG</a>

<a href="/racing" class="btn btn-info" role="button">Racing</a>

<a href="/fps" class="btn btn-info" role="button">FPS</a>

<a href="/platformers" class="btn btn-info" role="button">Platformers</a>

<a href="/action-adventure" class="btn btn-info" role="button">Action/Adventure</a>

<a href="/japaneserpg" class="btn btn-info" role="button">JRPG</a>

<a href="/fighting" class="btn btn-info" role="button">Fighting</a>

<a href="/horror" class="btn btn-info" role="button">Horror</a>

<a href="/sports" class="btn btn-info" role="button">Sports</a>

<a href="/survival" class="btn btn-info" role="button">Survival</a>

<a href="/retro-arcade" class="btn btn-info" role="button">Retro Arcade</a>

<a href="/retro-nes" class="btn btn-info" role="button">Retro NES</a>

<a href="/retro-snes" class="btn btn-info" role="button">Retro SNES</a>

<a href="/retro-n64" class="btn btn-info" role="button">Retro N64</a>
