<h1>Categories</h1>

<div class="row justify-space-between">

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/a/af/Fallout.jpg" alt="Role Playing Games">

  <div class="card-body">

    <h4 class="card-title">RPG</h4>

    <p class="card-text">Role Playing Game</p>

    <a href="/rpg" class="btn btn-info" role="button">RPG</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://theculturednerd.org/wp-content/uploads/2020/06/EFT-1.jpg" alt="First Person Shooter Games">

  <div class="card-body">

    <h4 class="card-title">FPS</h4>

    <p class="card-text">First Person Shooter</p>

    <a href="/fps" class="btn btn-info" role="button">FPS</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/4/44/Crash_Bandicoot_Cover.png" alt="Platformers Games">

  <div class="card-body">

    <h4 class="card-title">Platformers</h4>

    <p class="card-text">Platformers</p>

    <a href="/platformers" class="btn btn-info" role="button">Platformers</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://logincasino.org/uploads/gallery/62207/thumbs/o750_400_optim_m_9340029c15a0fc8ddf6a082e330897e0.jpg" alt="Action Adventure Games">

  <div class="card-body">

    <h4 class="card-title">Action/Adventure</h4>

    <p class="card-text">Action/Adventure</p>

    <a href="/action-adventure" class="btn btn-info" role="button">Action/Adventure</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://image.api.playstation.com/vulcan/img/cfn/11307XlqDFlHmHWGjBPndSappCDTnE9OmnP2P-dSzcvLX9i0pvH_okJOl6dP1AnZefxthD-2k3RrsdzYU_BqUy9K5_sv-Tnx.png" alt="Japanese Role Playing Games">

  <div class="card-body">

    <h4 class="card-title">JRPG</h4>

    <p class="card-text">Japanese Role Playing Game</p>

    <a href="/japaneserpg" class="btn btn-info" role="button">JRPG</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51E4hLlcQXL.jpg" alt="Fighting Games">

  <div class="card-body">

    <h4 class="card-title">Fighting</h4>

    <p class="card-text">Fighting</p>

    <a href="/fighting" class="btn btn-info" role="button">fighting</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://server.emulator.games/images/playstation/silent-hill-sles-01514.jpg" alt="Horror Games">

  <div class="card-body">

    <h4 class="card-title">Horror</h4>

    <p class="card-text">Horror</p>

    <a href="/horror" class="btn btn-info" role="button">Horror</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://cdn.2kgames.com/web/nba.2k.com/images/2k21/nba2k21_fob_LE_NG_1.jpg" alt="Sports Games">

  <div class="card-body">

    <h4 class="card-title">Sports</h4>

    <p class="card-text">Sports</p>

    <a href="/sports" class="btn btn-info" role="button">sports</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/51/Minecraft_cover.png" alt="Survival Games">

  <div class="card-body">

    <h4 class="card-title">Survival</h4>

    <p class="card-text">Survival</p>

    <a href="/survival" class="btn btn-info" role="button">Survival</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://live.staticflickr.com/491/19313840578_85707560d5_b.jpg" alt="Racing Games">

  <div class="card-body">

    <h4 class="card-title">Racing</h4>

    <p class="card-text">Racing</p>

    <a href="/racing" class="btn btn-info" role="button">Racing</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://i2.wp.com/www.gameplanent.com/wp-content/uploads/2017/01/NBA-Jam-Arcade-Game.jpg" alt="Arcade Machine">

  <div class="card-body">

    <h4 class="card-title">Arcade Games</h4>

    <p class="card-text">Arcade</p>

    <a href="/retro-arcade" class="btn btn-info" role="button">Retro Arcade</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://i.ebayimg.com/images/g/l6EAAOSwJ7RYV2iB/s-l400.jpg" alt="Nintendo Entertainment System">

  <div class="card-body">

    <h4 class="card-title">NES</h4>

    <p class="card-text">Nintendo Entertainment System</p>

    <a href="/retro-nes" class="btn btn-info" role="button">Retro NES</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://i5.walmartimages.com/asr/76d67288-d18f-4232-adc1-a9a221875656_1.ed17f49b4334583cdd8d0efb5e879738.jpeg" alt="Super Nintendo Entertainment System">

  <div class="card-body">

    <h4 class="card-title">SNES</h4>

    <p class="card-text">Super Nintendo Entertainment System</p>

    <a href="/retro-snes" class="btn btn-info" role="button">Retro SNES</a>

  </div>

</div>

<div class="card col-12 col-md-3 m-2 p-2">

  <img class="card-img-top" src="https://i.pinimg.com/originals/9d/19/dd/9d19dde91853fb6bca9f2db0f8b7e9b9.jpg" alt="Nintendo 64">

  <div class="card-body">

    <h4 class="card-title">N64</h4>

    <p class="card-text">Nintendo 64</p>

    <a href="/retro-n64" class="btn btn-info" role="button">Retro N64</a>

  </div>

</div>

</div>



{{!-- <a href="/rpg" class="btn btn-info" role="button">RPG</a> --}}

{{!-- <a href="/fps" class="btn btn-info" role="button">FPS</a> --}}

{{!-- <a href="/platformers" class="btn btn-info" role="button">Platformers</a> --}}

{{!-- <a href="/actionAdventure" class="btn btn-info" role="button">Action/Adventure</a> --}}

{{!-- <a href="/japaneseRPG" class="btn btn-info" role="button">JRPG</a> --}}

{{!-- <a href="/fighting" class="btn btn-info" role="button">fighting</a> --}}

{{!-- <a href="/horror" class="btn btn-info" role="button">Horror</a> --}}

{{!-- <a href="/sports" class="btn btn-info" role="button">sports</a> --}}

{{!-- <a href="/survival" class="btn btn-info" role="button">Survival</a> --}}

{{!-- <a href="/retroArcade" class="btn btn-info" role="button">Retro Arcade</a> --}}

{{!-- <a href="/retroNES" class="btn btn-info" role="button">Retro NES</a> --}}

{{!-- <a href="/retroSNES" class="btn btn-info" role="button">Retro SNES</a> --}}

{{!-- <a href="/retroN64" class="btn btn-info" role="button">Retro N64</a> --}}
