<h1>Categories Page</h1>

<div class="rpg">RPG</div>

<a href="/rpg" class="btn btn-info" role="button">RPG</a>

<div class="fps">First Person Shooters</div>

<a href="/fps" class="btn btn-info" role="button">FPS</a>

<div class="platformers">Platformers</div>

<a href="/platformers" class="btn btn-info" role="button">Platformers</a>

<div class="action_adventure">Action/Adventure</div>

<a href="/actionAdventure" class="btn btn-info" role="button">Action/Adventure</a>

<div class="jrpg">JRPG</div>

<a href="/japaneseRPG" class="btn btn-info" role="button">JRPG</a>

<div class="fighting">Fighting</div>

<a href="/fighting" class="btn btn-info" role="button">fighting</a>

<div class="horror">Horror</div>

<a href="/horror" class="btn btn-info" role="button">Horror</a>

<div class="sports">Sports</div>

<a href="/sports" class="btn btn-info" role="button">sports</a>

<div class="survival">Survival</div>

<a href="/survival" class="btn btn-info" role="button">Survival</a>

<div class="retro_arcade">Retro Arcade</div>

<a href="/retroArcade" class="btn btn-info" role="button">Retro Arcade</a>


<div class="retro_nes">Retro NES</div>

<a href="/retroNES" class="btn btn-info" role="button">Retro NES</a>


<div class="retro_snes">Retro SNES</div>

<a href="/retroSNES" class="btn btn-info" role="button">Retro SNES</a>


<div class="retro_n64">Retro N64</div>

<a href="/retroN64" class="btn btn-info" role="button">Retro N64</a>
