<h1>Categories Page</h1>

<div class="rpg">RPG</div>

<div class="fps">First Person Shooters</div>

<div class="platformers">Platformers</div>

<div class="action_adventure">Action/Adventure</div>

<div class="jrpg">JRPG</div>

<div class="fighting">Fighting</div>

<div class="horror">Horror</div>

<div class="sports">Sports</div>

<div class="survival">Survival</div>

<div class="retro_arcade">Retro Arcade</div>

<div class="retro_nes">Retro NES</div>

<div class="retro_snes">Retro SNES</div>

<div class="retro_n64">Retro N64</div>