<h1>Categories Page</h1>

<a href="/rpg" class="btn btn-info" role="button">RPG</a>

<a href="/fps" class="btn btn-info" role="button">FPS</a>

<a href="/platformers" class="btn btn-info" role="button">Platformers</a>

<a href="/actionAdventure" class="btn btn-info" role="button">Action/Adventure</a>

<a href="/japaneseRPG" class="btn btn-info" role="button">JRPG</a>

<a href="/fighting" class="btn btn-info" role="button">fighting</a>

<a href="/horror" class="btn btn-info" role="button">Horror</a>

<a href="/sports" class="btn btn-info" role="button">sports</a>

<a href="/survival" class="btn btn-info" role="button">Survival</a>

<a href="/retroArcade" class="btn btn-info" role="button">Retro Arcade</a>

<a href="/retroNES" class="btn btn-info" role="button">Retro NES</a>

<a href="/retroSNES" class="btn btn-info" role="button">Retro SNES</a>

<a href="/retroN64" class="btn btn-info" role="button">Retro N64</a>
