<div class="row">

  <div class="col-8">
      <div class="row">
          <div class="col-12 col-md-4">              
              <div class="row">
                  <div class="col-12">
                      Game Image
                  </div>
                  <div class="col-12">
                      Game Video
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-8">
              <div class="row">
                  <div class="col-12">
                      Game Description and Rating
                  </div>
                  <div class="col-12">
                      Reviews
                  </div>
                  <div class="col-12">
                      FAQ/Walkthrough
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-4">
      <div class="row">
          <div class="col-12">
              Comment Section
          </div>
          {{#if logged_in}}
          <div type="input" class="col-12">
              Add Comment
          </div>
          {{/if}}
      </div>
  </div>

</div>