<div class="row justify-content-md-center">
    <div class="col col-lg-10">
        {{#if logged_in}}
        Most Recent User Update
        {{else}}
        Most Recent Comment/upload
        {{/if}}
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-10">
        MarketPlace
    </div>
</div>