<div class="row justify-content-md-center">
    <div class="col col-lg-10">
        {{#if logged_in}}
        <h1>Hello Name!</h1>
        <p>Most Recent User Update</p>
        {{else}}
        <p>Most Recent Comment/upload</p>
        {{/if}}
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-10">
        <p>MarketPlace</p>
    </div>
</div>