<div class="row">
    <div class="col-12 col-md-4">
      Post Item
    </div>
    <div class="col-12 col-md-4">
      Items for Sale
    </div>
    <div class="col-12 col-md-4">
      User's Items selling/bidding on
    </div>
</div>