<div class="row justify-space-between">

{{#each games as |game| }}
<div class="card col-12 col-md-3 m-2">
  <div class="card-body">
    <h4 class="card-title">{{game.name}}</h4>
    <p class="card-text">{{game.description}}</p>
    <a href="game/{{game.id}}" class="btn btn-info " role="button">View Game</a>
  </div>
</div>
{{/each}}

</div>